.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}
.input-container svg {
  fill: gray;
}
.icon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-logo {
  height: 92px;
}
.outer {
  width: 582px;
  padding: 30px;
}
.input-container svg {
  width: 25px;
  padding-left: 5px;
  padding-right: 5px;
}
.input-container:hover {
  box-shadow: 0 0 5px grey; /* X축 오프셋, Y축 오프셋, 흐림 반경, 색상 */
}
.search-input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}
.search-input-wrapper input {
  width: 100%;
}
.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
  border: 1px solid #ccc;
  padding: 15px 14px;
  border-radius: 40px;
}

.search-box {
  display: flex;
  align-items: center;
  width: 500px;
  flex-grow: 1;
}

input {
  border: none;
}
input:focus {
  outline: none;
}
